<nav class="bg-primary p-5 shadow-md text-white">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
      <!-- Logo: Centered on Mobile, Left-Aligned on Desktop -->
      <div id="logo" class="text-center md:text-left w-full md:w-auto mb-4 md:mb-0">
        <h1 class="font-bold text-5xl ">I'm Ambru</h1>
        
      </div>
  
      <!-- Navigation Links: Horizontally Centered on All Screen Sizes -->
      <div class="flex space-x-6 font-semibold">
        <a href="#" class="hover:text-gray-300 active:font-bold active:text-lg text-1xl">Home</a>
        <a href="#" class="hover:text-gray-300 active:font-bold active:text-lg text-1xl">Portfolio</a>
        <a href="#" class="hover:text-gray-300 active:font-bold active:text-lg text-1xl">Blog</a>
        <a href="#" class="hover:text-gray-300 active:font-bold active:text-lg text-1xl">Contact</a>
      </div>
    </div>
  </nav>
  