
<div class="container mx-auto px-4 md:px-10 lg:px-20 p-6 bg-gray-100">
    <!-- Profile Card with 20%-80% Split -->
    <div class="bg-white shadow-lg rounded-lg p-6 flex items-center space-x-6">

        <!-- Profile Image (20% Width) with Default Zoom Effect -->
        <div class="w-1/5 flex justify-center">
            <div class="w-40 h-40 rounded-full border-4 border-gray-300 overflow-hidden shadow-md">
                <img src="https://i.ibb.co/82vf9Ht/profile.jpg" alt="Profile Picture"
                    class="w-full h-full object-cover scale-123">
            </div>
        </div>

        <!-- Profile Details (80% Width) -->
        <div class="w-4/5">
            <!-- Header (Title) -->
            <h3 class="text-2xl font-semibold text-gray-800">Sr. Full Stack Engineer</h3>

            <!-- Summary -->
            <p class="text-gray-600 mt-2 text-justify">

                I'm an innovation-driven full-stack developer with over 10 years of experience in .NET, Angular, SQL Server, and SQL. Skilled in designing and delivering efficient, high-quality applications, I've successfully handled both corporate and freelance projects. Currently, I’m expanding my expertise with a PG course in Artificial Intelligence and Machine Learning to integrate AI into web and mobile applications, aiming to create smarter, user-focused solutions.
            </p>
            
        </div>
    </div>
    <div class="flex flex-wrap w-full mb-[-24px] mt-5">
        <!-- Web Apps Icon -->
        <div class="min-[1200px]:w-[25%] min-[768px]:w-[50%] w-full px-[12px] mb-[24px] aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
            <div class="bix-services mt-[30px] relative flex flex-col justify-center text-center rounded-[30px] bg-[#edf4b3]">
                <!-- <div class="services-image mt-[-30px] flex justify-center relative">
                    <div class="inner-image mt-[-7px] p-[20px] relative bg-[#fff] rounded-[50%]">
                        <span class="ring h-[60px] w-[60px] m-auto border-[1px] border-solid border-[#111a24] absolute top-[8px] left-[8px] rounded-[50%] inline-block z-[5]"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9.75L12 2.25 2.25 9.75m19.5 0v8.25a1.5 1.5 0 01-1.5 1.5h-15a1.5 1.5 0 01-1.5-1.5V9.75m19.5 0L12 17.25m0 0L2.25 9.75"/>
                        </svg>
                    </div>
                </div> -->
                <div class="services-contact p-[20px]">
                    <h5 class="mb-[14px] font-montserrat text-[18px] text-[#111a24] font-semibold tracking-[0.03rem] leading-[1.2]">Web Apps</h5>
                    <p class="font-montserrat text-[14px] leading-[20px] text-[#111a24] tracking-[0.03rem]">Designed & developed more than 50 web applications.</p>
                </div>
            </div>
        </div>
    
        <!-- Mobile Apps Icon -->
        <div class="min-[1200px]:w-[25%] min-[768px]:w-[50%] w-full px-[12px] mb-[24px] aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
            <div class="bix-services mt-[30px] relative flex flex-col justify-center text-center rounded-[30px] bg-[#ffd5df]">
                <!-- <div class="services-image mt-[-30px] flex justify-center relative">
                    <div class="inner-image mt-[-7px] p-[20px] relative bg-[#fff] rounded-[50%]">
                        <span class="ring h-[60px] w-[60px] m-auto border-[1px] border-solid border-[#111a24] absolute top-[8px] left-[8px] rounded-[50%] inline-block z-[5]"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 3h9a1.5 1.5 0 011.5 1.5v15a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 016 19.5v-15A1.5 1.5 0 017.5 3z"/>
                        </svg>
                    </div>
                </div> -->
                <div class="services-contact p-[20px]">
                    <h5 class="mb-[14px] font-montserrat text-[18px] text-[#111a24] font-semibold tracking-[0.03rem] leading-[1.2]">Mobile Apps</h5>
                    <p class="font-montserrat text-[14px] leading-[20px] text-[#111a24] tracking-[0.03rem]">Designed one large-scale mobile app.</p>
                </div>
            </div>
        </div>
    
        <!-- System Design Icon -->
        <div class="min-[1200px]:w-[25%] min-[768px]:w-[50%] w-full px-[12px] mb-[24px] aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
            <div class="bix-services mt-[30px] relative flex flex-col justify-center text-center rounded-[30px] bg-[#d5f5ff]">
                <!-- <div class="services-image mt-[-30px] flex justify-center relative">
                    <div class="inner-image mt-[-7px] p-[20px] relative bg-[#fff] rounded-[50%]">
                        <span class="ring h-[60px] w-[60px] m-auto border-[1px] border-solid border-[#111a24] absolute top-[8px] left-[8px] rounded-[50%] inline-block z-[5]"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 6.75h10.5v10.5H6.75V6.75zM3 9.75h1.5v4.5H3v-4.5zm18 0h-1.5v4.5H21v-4.5zM9.75 3v1.5H14.25V3H9.75zm0 18v-1.5H14.25V21H9.75z"/>
                        </svg>
                    </div>
                </div> -->
                <div class="services-contact p-[20px]">
                    <h5 class="mb-[14px] font-montserrat text-[18px] text-[#111a24] font-semibold tracking-[0.03rem] leading-[1.2]">System Design</h5>
                    <p class="font-montserrat text-[14px] leading-[20px] text-[#111a24] tracking-[0.03rem]">Led five system designs from scratch, resolving bottlenecks.</p>
                </div>
            </div>
        </div>
    
        <!-- Legacy App Modernization Icon -->
        <div class="min-[1200px]:w-[25%] min-[768px]:w-[50%] w-full px-[12px] mb-[24px] aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="800">
            <div class="bix-services mt-[30px] relative flex flex-col justify-center text-center rounded-[20px] bg-[#d6ffd5]">
                <!-- <div class="services-image mt-[-30px] flex justify-center relative">
                    <div class="inner-image mt-[-7px] p-[20px] relative bg-[#fff] rounded-[50%]">
                        <span class="ring h-[60px] w-[60px] m-auto border-[1px] border-solid border-[#111a24] absolute top-[8px] left-[8px] rounded-[50%] inline-block z-[5]"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75V3.75m0 0A8.25 8.25 0 103 12h3M12 3.75L7.5 7.5"/>
                        </svg>
                    </div>
                </div> -->
                <div class="services-contact p-[20px]">
                    <h5 class="mb-[14px] font-montserrat text-[18px] text-[#111a24] font-semibold tracking-[0.03rem] leading-[1.2]">Legacy App Modernization</h5>
                    <p class="font-montserrat text-[14px] leading-[20px] text-[#111a24] tracking-[0.03rem]">Modernized over 2 applications with top quality standards.</p>
                </div>
            </div>
        </div>
    </div>
</div>


